.App {
  width: 100%;
  text-align: center;
  
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.Poke {
  padding: 5px;
  gap: var(--more-info ,1rem);
}
/*
@media (min-width: 900px){
  .Poke-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
*/


.Poke-info {
  /*border: 2px solid red;*/
 text-align: left;
 align-self: center;
 margin: .5rem;
 padding: .5rem;
 margin-top: 0px;
 padding-top: 0px;
 
 color: #313131;
 
 overflow: auto;

 
  /*background-color: #DFDFDF;*/
}

.Poke-id{
  font-size: .75rem;
  color: grey;
}

.Poke-name{
  padding-top: 5px;
  font-size: 2rem;
  font-family: "Flexo-Demi",arial,sans-serif;
}

.Poke-sprite {
  border-radius: 10px;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  background: #E8F1F5;
}

.Poke-sprite > img{
  
  align-items: center;
}


.Poke-grid {
  padding: 5px;
  --repeat: 5;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1490px;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.page-button {
  margin: 5px;
}


.Poke:active {
  background-color: #E8F1F5;
}

.Poke.featured {
  grid-row: span 2;
  grid-column: span 2;
}

.Poke.featured {
  padding: 1px;
  border-radius: 10px;
  height: 100%;
  background-color: #FAFAFA;
  border: 1px solid #fbfbfb;
  
}

.Poke-Weight-Height {
  font-size: 1.8rem;
  padding: 0px;
}

.Poke-Weight-Height > div{
  align-items: center;
}


.Poke-Weight{
  padding-right: 2rem;
  
  margin: 2px;
  float: right;
}

.Poke-Height{
  padding-left: 2rem;
  
  margin: 2px;
  float: left;
}

.Poke-desc {
  padding-top: 15px;
  font-size: 1.5rem;
}

.Poke-desc > p {
  margin-bottom: 1rem;
  font-size: 2rem;
}